{% extends 'layout.html.twig' %}

{% block title %}
	Profil
{% endblock %}

{% block content %}
	<div class="my-5 container text-center">
		Bonjour
		<h1>
			{{user.prenom}}
			{{user.nom}}</h1>
		<h2></h2>
		<h3 class="text-muted">{{user.email}}</h3>
	</div>

	<div>

		<a class="btn btn-primary pill" href="{{ path('admin_proprietes')}}">proprietes</a>
		<a class="btn btn-primary pill" href="{{ path('admin_users')}}">utilisateurs</a>
	</div>
{% endblock %}
