{% extends 'layout.html.twig' %}

{% block title %}detail
{% endblock %}

{% block content %}
	<div class="container mt-4">
		<div class="row">
			<div class="col-md-8">
				<img class="img-responsive  img-thumbnail " src=" {{asset('photoProprietes/' ~ propriete.photos)}} "/>
			</div>
			<div class=" col-md-4">
				<h1>{{ propriete.titre }}</h1>
				<div class="text-primary" style="font-size:4rem; font-weight:bold;">{{ propriete.prixJournalier }}
					€/nuit
				</div>
				<div class="row mt-5">
					<div class="col-md-12">
						{{form_start(form)}}
						<h4>
							Nombre de personnes</h4>
						{{form_row(form.nbPers)}}
						<h4>
							Nombre de personnes</h4>
						{{form_row(form.dateE)}}
						<h4>
							Nombre de personnes</h4>
						{{form_row(form.dateS)}}

						{{form_end(form)}}
					</div>

				</div>
			</div>
			<div class="col-8 mt-4 mb-4">
				<p>{{propriete.description | nl2br}}</p>
			</div>
			<div class="row">
				<div class="col-md-8">
					<table class="table table-striped">
						<tr>
							<td>Chambres</td>
							<td>{{propriete.chambres}}</td>
						</tr>
						<tr>
							<td>Salle de bains</td>
							<td>{{propriete.sdb}}</td>
						</tr>
						<tr>
							<td>Lits</td>
							<td>{{propriete.lits}}</td>
						</tr>

					</table>
				</div>
				<div class="col-md-4">
					<h3>{{propriete.Ville}}
						{{propriete.pays}}</h3>
				</div>
			</div>
		</div>
	{% endblock %}
