{% extends 'layout.html.twig' %}
{% block content %}

	<div class="jumbotron mt-5 ">
		<div class="container">
			{{form_start(form)}}
			<div class="row form">
				<div class="col">
					<h4>Rechercher</h4>
					{{form_row(form.q)}}
				</div>
				<div class="col">
					<h4>Catégories</h4>

					{{form_row(form.categories)}}
				</div>
				<div class="col">
					<h4>Prix minimum</h4>

					{{form_row(form.min)}}
				</div>
				<div class="col">
					<h4>Prix maximum</h4>

					{{form_row(form.max)}}
				</div>
				<div class="col">
					<button type="submit" class="btn btn-primary ">Filtrer</button>
				</div>
			</div>

			{{form_end(form)}}
			<div class="grid row">
				{% for propriete in proprietes %}
					<div class="card mx-5 my-5  col-sm-3 bord ">
						<img src="{{asset('photoProprietes/' ~ propriete.photos)}}" class=" rounded"/>


						<div class="card-body">
							<h4 class="card-title">{{propriete.titre}}</h4>
							<h5 class="card-subtitle text-muted">Localisation</h5>
							<div class="text-muted">
								Ville
							</br>
							{{propriete.category.name}}

						</div>
						<strong>{{propriete.prixJournalier}}€</strong>/nuit
					</div>
					<a class="btn btn-primary badge toast show" href="{{path('propriete_detail',{id:propriete.id})}}">Voir plus</a>
				</div>
			{% endfor %}
		</div>
		<div>
			{{knp_pagination_render(proprietes)}}</div>
	{% endblock %}
